#supplies li {
    height: 200px;
    width: 150px;
    border: solid 2px black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 236, 255);
}

#supplies h3 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
}

#supplies img {
   height: 100px; 
   width: 140px;
   margin-left: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#supplies li p {
    font-size: 10px;
    margin: 2px;
    margin-top: 7px;
}

#supplies li .price {
    color: darkslategrey;
    margin-left: 3px;
}

#supplies li button {
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    width: 140px;
    font-size: 12px;
    margin-left: 3px;
}